.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styled-table{
  margin: auto;
  width:55%;
  border: 3px solid green;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.home_page{
  width: 100vw;
  height: 100vh;
  background-color:#e1c2df;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #363D04;
}
li{
  display: inline;
  float: left;
}
li a{
  display: block;
  color:white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: greenyellow ;
}
.active{
  background-color: #04AA6D;
}

*,*:before,*:after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.form_background{
  background-color: rgb(17, 71, 142);
  height: "106vh";
}
.background{
  width:430px;
  height:520px;
  position:absolute;
  transform:translate(-50%,50%);
  left:50%;
  top:50%
}
.background .shape{
  height:200px;
  width: 200px;
  position:absolute;
  border-radius: 50%;
}

.shape:last-child{
  background: linear-gradient(
    to right,
    #ff512f,
    #f09819
  );
  right: -30px;
  bottom:-80px;
}
form{
  height:520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border:2px solid rgba(255,255,255,0.1);
  box-shadow:0 0 40px rgba(8,7,16,0.6);
  padding:50px 35px;
}

form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline:none;
  border:none;
}

form h3{
  font-size:32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.form_input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}
.login_button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}

/* Admin view stlyes */
.styled-table{
  border-collapse:collpase;
  margin:25px 0;
  font-size:0.9em;
  font-family:sans-serif;
  min-width:400px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,.styled-table td {
  padding: 13px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even){
  background-color:#f3f3f3 ;
}
.styled-table tbody tr:last-of-type{
  border-bottom:2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;

}

.card a{
  border-color:#009879;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color:white;
  margin-top: 2%;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card a:hover{
  opacity: 0.7;
}



.createExp{
  justify-content:center;
  position: relative;
  width: 350px;
  height: 610px;
  border-radius: 20px;
  padding: 40px;
  margin-top: 2%;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.exp_center{
  width:100%; height:100%; display:flex; justify-content:center; 
  margin-top:0%;
}
.exp_form_title{
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #04395a;
  letter-spacing: 1px;
}
.createExp inputs{
  text-align: left;
  margin-top: 30px;
}

.createExp input,label{
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.createExp label{
  margin-bottom: 4px;
}

.createExp label:nth-of-type(2){
  margin-top: 12px;
}

.createExp input{
  color: gray;
}

.createExp input{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}



.createExp_login{
  position: relative;
  font-size: large;
  margin-top: 1%;
  background-color: #1DA1F2;
  border-radius: 50%;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.container {
	max-width: 640px;
	margin: 10px auto;
	background:grey;
	border-radius: 8px;
  border-color:#04AA6D;
	padding: 20px;
  margin-left: 0;
  float: left;
}

.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.container textarea {
	width: 100%;
	border: none;
	background: #a8a1a1;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
